@using anchor1.Helpers
@model  IEnumerable<HMS.Models.vw_genlay>
  @{ 
      HMS.utilities.hutility util = new HMS.utilities.hutility();
  }


<div class="panel-body">
    <div class="table-responsive">
        <table class="hTable table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Stock No </th>
                    <th>item ID</th>
                    <th>item Name</th>
                    <th>Restock Date</th>
                    <th>UOM</th>
                    <th>Quantity </th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.vwint0</td>
                        <td>@item.vwstring1</td>
                        <td>@item.vwstring0</td>
                        <td>@util.date_slash(@item.vwstring2)</td>
                <td >@item.vwstring3</td>
                <td>@item.vwint1</td>
                <td><span class="btn btn-danger btn-xs deleteitemlist" data-keyg="@item.vwint0"> <i class="glyphicon glyphicon-trash "></i> </span></td>
            </tr>
                }

            </tbody>

        </table>
        </div>
    </div>
