@model HMS.Models.vw_genlay
@{
    ViewBag.Title = "Edit";
}

<div class="panel-body">
    <form class="form-horizontal" role="form" method="post" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

        @if (ViewBag.action_flag == "Edit")
        {
            <div class="opt-title1"> Edit User</div>
            @Html.Partial("_editButtons")
        }
        else
        {
            <div class="opt-title1"> Add User</div>
            @Html.Partial("_submitButtons")
        }


        @Html.Partial("auser")

        @Html.Hidden("id_xhrt", "K")
    </form>
</div>
@section Scripts{
    <script>
    </script>
}