@model  IEnumerable<HMS.Models.vw_genlay>
@using anchor1.Helpers
@{
    ViewBag.Title = "Rooms";
}


<span>@*@Html.EncodedActionLink(" ", "Create", null, new { xy = 1 }, new { @class = "create_logo lgtime ", title = "New Record" })*@ </span>

<div class="panel panel-default">
    <div class="panel-heading">
        Rooms List
        @if (ViewBag.action_flag != "roomDetails")
        {
            <span>@Html.EncodedActionLink("New Room", "Create", null, new { pc = 1 }, new { title = "New Record" }) </span>
        }
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="hTable table table-striped table-bordered table-hover">

                <thead>
                    <tr>
                        <th>Room Number</th>
                        <th>Room Info</th>
                        <th>Room Status</th>
                        <th>Type</th>
                        <th>Price</th>
                        @if (ViewBag.action_flag == "roomDetails")
                        {
                            <th>Occupant Name</th>
                        }
                        else
                        {
                            <th> Edit</th>
                            <th> Delete</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.vwstring0</td>
                            <td>@item.vwstring1</td>
                            <td>@item.vwstring2</td>
                            <td>@item.vwstring3</td>
                            <td class="numformat">@item.vwstring5</td>
                            @if (ViewBag.action_flag == "roomDetails")
                            {
                                <td>@item.vwstring4</td>
                            }
                            else
                            {
                        <td>
                            @Html.EncodedActionLink("E", "Edit", null, new { Key1 = @item.vwstring0 }, new { @class = "btn btn-warning btn-xs glyphicon glyphicon-pencil" })
                        </td>
                        <td><span class="btn btn-danger btn-xs deleteitem" data-keyg="@item.vwint0"> <i class="glyphicon glyphicon-trash "></i> </span></td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@Html.Hidden("id_xhrt", "K")

<div id="loader2" data-request-ajax2="@Url.Action("delete_list")"></div>
@section Scripts {
    <script>
    </script>
}
