@using anchor1.Helpers
@model  IEnumerable<HMS.Models.vw_genlay>

@{
    HMS.Models.worksess worksess = (HMS.Models.worksess)Session["worksess"];
    ViewBag.Title = "Ordering";
}

Ordering List
<span>@Html.EncodedActionLink("New Order", "CreateHeader", null, new { pc = 1 }, new { title = "New Record" }) </span>
<p />

@Html.ValidationSummary()

<div class="panel-body">
    <div class="table-responsive">
        <table id="iTable" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Bill Number</th>
                    <th>Guest Number</th>
                    <th>Guest Name</th>
                    <th>Transaction Date</th>
                    <th>Initiated By</th>
                    <th>Edit</th>
                    <th>Delete</th>
                    <th>Print</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.vwint0</td>
                        <td>@item.vwint1</td>
                        <td>@item.vwstring1</td>
                        <td>@item.vwstring2</td>
                        <td>@item.vwstring3</td>
                        <td>
                            @Html.EncodedActionLink("E", "Edit", null, new { key1 = @item.vwint0 }, new { @class = "btn btn-warning btn-xs glyphicon glyphicon-pencil lgtime " })
                        </td>
                        <td><span class="btn btn-danger btn-xs deleteitem" data-keyg="@item.vwint0"> <i class="glyphicon glyphicon-trash "></i> </span></td>
                        <td>@Html.EncodedActionLink(".", "print_receipt","HTranst", new { key1 = @item.vwint0 }, new { @class = "btn btnextra btn-xs glyphicon glyphicon-print" })</td>
                     </tr>
                }

            </tbody>

        </table>
    </div>
</div>
@Html.Hidden("id_xhrt", "K")


<div id="loader2" data-request-ajax2="@Url.Action("delete_list")"></div>

@section Scripts {
    <script>


    </script>
}
